.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	
	.main-menu {
		ul {
			margin-bottom: 0;
			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 40px;
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 18px;
				font-weight: 300;
				color:  $white;
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: capitalize;
				@include transition;

				i {
					margin-left: 7px;
				}
	
				&:hover {
					color: #FFBF25 !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 100%;
				inset-inline-start: 0;
				min-width: 240px;
				background: $white;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $header-color;
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
				transform: translateY(10px);
				@include transition;

				li {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
	
					a {
						position: relative;
						z-index: 11;
						font-size: 18px;
						font-weight: 300;
						color: $header-color;
						padding: 0 25px;
						padding-bottom: 11px;
						padding-top: 11px;
						width: 100%;
						border-bottom: 1px solid #eeeeee;

						&:hover {
							color: $white !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							background: $theme-color;
							color: $white !important;

							&::after {
								color: $theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 800px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -250px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;
                

				.homemenu-items {
                    padding-bottom: 20px;

					.homemenu {
						position: relative;
						.homemenu-thumb {
							position: relative;
	
							a {
                                padding: 0;
                            }
	
							&::before {
								background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
								background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								overflow: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
							}
							&:hover{
	
								&::before {
									visibility: visible;
									opacity: 1;
								}
	
								.demo-button {
									opacity: 1;
									visibility: visible;
									margin-top: 0;
								}
								& .homemenu-btn {
									opacity: 1;
									visibility: visible;
									bottom: 50%;
									transform: translateY(50%);
								}
							}
							img {
								width: 100%;
							}
						}
	
						.homemenu-title {
							text-align: center !important;
							margin: 15px auto 0;
                            font-family: $body-font;
                            font-size: 16px;
                            text-transform: capitalize;
                            font-family: $heading-font;
                            font-weight: 400;

                            a {
                                padding: 0;
                                width: initial;
                                font-size: 16px;
                                text-transform: capitalize;
                                font-family: $heading-font;
                                font-weight: 500;

								&:hover {
									color: $theme-color !important;
								}
                            }
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color;
					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		gap: 30px;

		@include breakpoint (max-xxl){
			gap: 20px;
		}

        .search-icon {
            color: $header-color;
            font-size: 18px;
        }
	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
        color: $white;
	}
}

//>>>>> Header 01 Start <<<<<//
.header-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;

	.header-right {
		gap: 30px;

		.menu-cart {
			position: relative;

			@include breakpoint (max-sm){
				display: none;
			}

			.cart-icon {
				position: relative;
				display: inline-block;
				border-radius: 50%;
				width: 51px;
				height: 51px;
				line-height: 51px;
				border-radius: 50%;
				border: 1px solid $white;
				text-align: center;

				&::before {
					position: absolute;
					top: 0;
					right: -12px;
					content: "3";
					width: 20px;
					line-height: 20px;
					height: 20px;
					border-radius: 20px;
					background-color: #FEB81B;
					color: $black;
					font-size: 14px;
					text-align: center;
					font-weight: 500;
				}
				i {
					color: $white;
					font-size: 20px;
				}
			}

			&:hover {
				.cart-box {
					transform: rotateX(0deg);
					visibility: visible;
				}
			}
		}

		.header-button {
			@include breakpoint (max-xl){
				display: none;
			}
		}

		.sidebar__toggle {
			color: $white;
		}
	}

	.header-logo-2 {
		display: none;
	}

	&.style-inner {
		background-color: $header-color;
		position: static;
	}
}

.header-2 {
	border-bottom: 1px solid rgba(85, 85, 85, 0.10);

	.header-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		
		.main-menu {
			ul {
				li {
					margin-inline-end: 32px;
					a {
						color:  $header-color;
			
						&:hover {
							color: $theme-color !important;
						}
			
					}
				}
			}
		}
	
		.header-right {
			gap: 30px;
	
			@include breakpoint (max-xxl){
				gap: 20px;
			}
	
			.search-icon {
				color: $header-color;
				font-size: 18px;
			}
		}
	
		.sidebar__toggle {
			cursor: pointer;
			font-size: 20px;
			color: $white;
		}
	}

	.header-right {
		gap: 30px;
		

		.icon-items {
			@include flex;
			gap: 12px;

			@include breakpoint (max-md){
				display: none;
			}

			.icon {
				width: 48px;
				height: 48px;
				line-height: 48px;
				border-radius: 50%;
				border: 1px solid #D5D5D5;
				display: inline-block;
				text-align: center;
				color: $header-color;
			}

			.content {
				h6 {
					font-size: 16px;
					font-family: $heading-font;
				}

				p {
					font-size: 14px;
				}
			}
		}

		.menu-cart-item {
			@include breakpoint (max-sm){
				display: none;
			}
			.menu-cart {
				@include flex;
				gap: 25px;
			}
		}

		.menu-cart {
			position: relative;

			.cart-icon {
				position: relative;
				display: inline-block;
				border-radius: 50%;
				width: 51px;
				height: 51px;
				line-height: 51px;
				border-radius: 50%;
				border: 1px solid #D5D5D5;
				text-align: center;

				&.style-2 {
					&::before {
						content: "00";
					}
				}

				&::before {
					position: absolute;
					top: 0;
					right: -12px;
					content: "3";
					width: 20px;
					line-height: 20px;
					height: 20px;
					border-radius: 20px;
					background-color: #FEB81B;
					color: $black;
					font-size: 12px;
					text-align: center;
					font-weight: 500;
				}
				i {
					color: $header-color;
					font-size: 20px;
				}
			}

			&:hover {
				.cart-box {
					transform: rotateX(0deg);
					visibility: visible;
				}
			}
		}

		.header-button {
			@include breakpoint (max-xl){
				display: none;
			}
		}

		.sidebar__toggle {
			color: $header-color;
		}
	}

	.category-oneadjust {
		@include flex;
		position: relative;
		

		@include breakpoint(max-xxxl) {
			display: none !important;
		}

		.nice-select {
			width: 180px !important;
			gap: 20px;
			font-size: 14px;
			border: none;
			background-color: #F5F5F5;
			padding: 16px 16px;
			border-radius: 8px 0px 0px 8px;
			font-weight: 300;
			border-right: none !important;

			&::after {
				right: 25px;
				position: absolute;
				top: 28px;
			}

			span {
				font-weight: 300;
				color: $text-color;
			}

			.list {
				max-height: 15vh;
				background: $header-color;
				width: 180px;
				padding: 5px 8px;
				overflow-y: scroll;
				right: 0;

				li {
					color: $white;
					font-size: 14px;
					border: none;
				}
			}
		}

		.search-toggle-box {
			width: 370px;

			@include breakpoint (max-xxxl) {
				width: 150px;
			}

			@include breakpoint (max-xxl) {
				width: 70px;
			}

			@include breakpoint (max-xl) {
				width: 60px;
			}

			.input-area {
				position: relative;

				input {
					outline: none;
					border: none;
					background-color: #F5F5F5;
					padding: 12px 16px;
					width: 100%;
					border-radius: 0px 8px 8px 0px;
					color: $text-color;
					font-weight: 300;
					font-size: 14px;

					&::placeholder {
						color: $text-color;
						font-weight: 300;
					}
				}

				.cmn-btn {
					position: absolute;
					top: 7px;
					right: 7px;
					color: $header-color;
					background-color: #FFBF25;
					padding: 13px 16px;
					line-height: 1;
					font-size: 300px;
					font-size: 14px;
					border-radius: 8px;
				}
			}
		}
	}
}

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: all 0.9s;
	background-color: $white !important;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: $shadow;

	&.header-1 {
		.main-menu {
			ul {
				li {
					
					a {
						
						color:  $header-color;
						&:hover {
							color: $theme-color !important;
						}
			
					}
				}
			}
		}

		.header-right {
	
			.menu-cart {
				.cart-icon {
					border: 1px solid $border-color;
	
					&::before {
						background-color: #FEB81B;
					}
					i {
						color: $header-color;
						font-size: 20px;
					}
				}
			}
	
			.sidebar__toggle {
				color: $header-color;
			}
		}
	
		.header-logo-2 {
			display: block;
		}

		.header-logo {
			display: none;
		}
	}
}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: $bg-color none repeat scroll 0 0;
	border-left: 2px solid  $theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 99999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__logo {
	a {
		img {
			width: 150px;
		}
	}
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__content {
		.text {
			color: $text-color;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $theme-color;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $white;
			}
		}

		.offcanvas__contact {
			margin-top: 20px;

			ul {
				margin-top: 20px;

				li {
					font-size: 16px;
					font-weight: 300;
					text-transform: capitalize;

					a {
						color: $text-color;
					}

					&:not(:last-child){
						margin-bottom: 15px;
					}

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $theme-color;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				
				.theme-btn {
					width: 100%;
					padding: 18px 40px;
					text-transform: capitalize !important;
					color: $white;
					background-color: $theme-color;

					i {
						margin-left: 10px;
					}

					&::before {
						background-color: $header-color;
					}

					&:hover {
						background-color: $white;
					}
				}
			}

			.social-icon {
                margin-top: 30px;
                gap: 10px;

                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: transparent;
                    color: $text-color;
                    border-radius: 50%;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
                    border: 1px solid $border-color;

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}


//>>>>> Breadcrumb Start <<<<<//
.breadcrumb-wrapper{
	position: relative;
	overflow: hidden;

	.page-heading{
		position: relative;
		padding: 120px 0 120px;
		z-index: 9;

		@include breakpoint (max-md){
			padding: 130px 0 80px;
			flex-wrap: wrap;
			justify-content: center;
			gap: 50px;
		}

		@include breakpoint (max-sm){
			padding: 130px 60px;
		}

		h1 {
			color: $white;
			font-size: 48px;
			position: relative;
			z-index: 9;
            font-weight: 700;

			@include breakpoint(max-lg){
				font-size: 42px;
			}

			@include breakpoint(max-sm){
				font-size: 36px;
			}
		}

		.breadcrumb-items{
			@include flex;
			margin-top: 20px;
			gap: 10px;

			@include breakpoint (max-sm){
				margin-top: 15px;
			}
			
			li{
				color: $theme-color;
				text-transform: capitalize;
				font-weight: 400;
				font-size: 18px;
	
				a {
					color: $white;				;
					@include transition;
	
					&:hover{
						color: $theme-color;
					}
				}
	
				i {
					color: $white;
				}
			}
		}

        .breadcrumb-image {
			animation: up-down 2s ease-in-out infinite alternate-reverse both;
			
            img {
                @include imgw;
                max-width: 336px;
            }
        }
	}
}


// .error-items {
// 	text-align: center;

// 	.error-image {
// 		max-width: 845px;
// 		margin: 0 auto;

// 		img {
// 			@include imgw;
// 		}
// 	}

// 	h2 {
// 		margin-top: 30px;

// 		span {
// 			color: $theme-color;
// 		}
// 	}

// 	p {
// 		margin-top: 10px;
// 	}
// }