.hero-1 {
    padding: 150px 0 150px;
    position: relative;

    .swiper-dot {
        position: absolute;
        bottom: 20%;
        right: 30%;
        z-index: 9;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .hero-content {
        position: relative;
        z-index: 9;
        transform: translateY(250px);
        opacity: 0;
        visibility: hidden;

        span {
            font-weight: 400;
            color: rgba(255, 255, 255, .9);
            display: inline-block;
            margin-bottom: 10px;
        }

        h1 {
            color: $white;
        }

        p {
            color: #D5D5D5;
            margin-top: 10px;
        }

        .hero-button {
            margin-top: 50px;
            @include flex;
            gap: 50px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            .link-btn {
                font-weight: 400;
                color: $white;
                display: inline-block;
                text-decoration: underline;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        .review-items {
            @include flex;
            gap: 15px;
            margin-top: 120px;

            @include breakpoint (max-xl){
                margin-top: 70px;
             }

            @include breakpoint (max-lg){
               margin-top: 50px;
            }

            @include breakpoint (max-md){
                margin-top: 40px;
             }

            @include breakpoint (max-sm){
                margin-top: 30px;
            }

            .content {
                h2 {
                    font-size: 32px;
                    font-weight: 700;
                    color: $white;

                    span {
                        font-size: 32px;
                        font-weight: 700;
                        margin-bottom: 0;
                        color: $white;
                    }

                    p {
                        color: $white;
                        opacity: 0.7;
                        margin-top: 0px;
                    }
                }
            }
        }
    }

    .hero-content-2 {
        position: relative;
        z-index: 9;

        span {
            font-weight: 400;
            color: rgba(255, 255, 255, .9);
            display: inline-block;
            margin-bottom: 10px;
        }

        h1 {
            color: $white;
            font-size: 56px;

            @include breakpoint(max-lg){
                font-size: 50px;
            }
        
            @include breakpoint(max-md){
                font-size: 42px;
            }
        
            @include breakpoint(max-sm){
                font-size: 34px;
            }
        }

        p {
            color: #D5D5D5;
            margin-top: 10px;
        }

        .hero-button {
            margin-top: 50px;
            @include flex;
            gap: 50px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            .link-btn {
                font-weight: 400;
                color: $white;
                display: inline-block;
                text-decoration: underline;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        .review-items {
            @include flex;
            gap: 15px;
            margin-top: 120px;

            @include breakpoint (max-xl){
                margin-top: 70px;
             }

            @include breakpoint (max-lg){
               margin-top: 50px;
            }

            @include breakpoint (max-md){
                margin-top: 40px;
             }

            @include breakpoint (max-sm){
                margin-top: 30px;
            }

            .counter-box {
                h2 {
                    font-size: 40px;
                    font-weight: 700;

                    span {
                        font-size: 40px;
                        font-weight: 700;
                    }
                }
                p {
                    margin-top: 5px;
                    font-size: 18px;
                    font-weight: 300;
                    color: #D5D5D5;
                }
            }
        }
    }

    .hero-image-items {
        text-align: right;
        position: relative;
        z-index: 9;

        .hero-image {
            position: relative;
            transform: translateX(250px);
            opacity: 0;
            visibility: hidden;
            z-index: 9;

            @include breakpoint (max-xl){
               img {
                    @include imgw;
               }
            }
        }

        .bg-shape {
            position: absolute;
            right: 0;
            top: -50%;
            z-index: -1;

            transform: translateY(250px);
            opacity: 0;
            visibility: hidden;

            @include breakpoint (max-xl){
                display: none;
            }
        }
    }

    .hero-items-image-2 {
        .hero-image-2 {
            img {
                @include imgw;
                border-radius: 12px;
            }
        }

        .hero-right {
            .client-top {
                text-align: center;
            
                h3 {
                    margin-top: 15px;

                    b {
                        color: #FFBF25;
                        font-size: 16px;
                    }

                    font-size: 16px;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 400;
                }
            }

            .hero-car-box-items {
                padding: 20px;
                border-radius: 12px;
                border: 1px solid #4376FB;
                background: #082448;
                position: relative;
                margin-top: 32px;
                margin-bottom: 32px;

                .car-titile {
                    margin-bottom: 50px;

                    h4 {
                        font-size: 18px;
                        color: $white
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        color: rgba(255, 255, 255, .8);
                    }
                }

                .post-cat {
                    position: absolute;
                    top: 30px;
                    right: 20px;
                    color: $header-color;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: $white;
                    padding: 6px 12px;
                    line-height: 1;
                    border-radius: 32px
                }

                .price-items {
                    margin-top: 50px;
                    @include flex;
                    justify-content: space-between;

                    @include breakpoint (max-xxl){
                        gap: 20px;
                        flex-wrap: wrap;
                    }

                    .post-cat-2 {
                        padding: 6px 14px;
                        border-radius: 32px;
                        font-size: 14px;
                        font-weight: 400;
                        background: rgba(0, 87, 198, 0.90);
                        color: $white;
                        display: inline-block
                    }

                    h4 {
                        color: $white;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .car-image {
                    img {
                        @include imgw;
                    }
                }
            }

            .theme-btn {
                width: 100%;
                padding: 17.5px 40px;

                &::before {
                    background-color: $white;
                }

                &:hover {
                    color: $header-color;
                }
            }
        }
    }

    .swiper-slide.swiper-slide-active {
        .hero-content {
            opacity: 1;
            transform: translateY(0px);
            transition: all 2500ms ease;
            visibility: visible;
        }

        .hero-image-items {
            .hero-image {
                opacity: 1;
                transform: translateX(0px);
                transition: all 3000ms ease;
                visibility: visible;
            }

            .bg-shape {
                opacity: 1;
                transform: translateY(0px);
                transition: all 1000ms ease;
                visibility: visible;
            }
        }
    }
}

.hero-3 {
    margin-top: 24px;
    
    .hero-left-items {
        padding: 120px 100px;
        border-radius: 12px;

        @include breakpoint (max-xl){
            padding: 120px 70px;
        }

        @include breakpoint (max-lg){
            padding: 120px 60px;
        }

        @include breakpoint (max-md){
            padding: 120px 50px;
        }

        @include breakpoint (max-sm){
            padding: 120px 40px;
        }

        .hero-content {
            max-width: 420px;

            h4 {
                color: #DB0000;
                margin-bottom: 15px;
            }

            h1 {
                color: $white;
            }

            .theme-btn {
                margin-top: 40px;

                &::before {
                    background-color: $theme-color;
                }
            }
        }
    }

    .hero-right-items {
        padding: 32px 30px;
        height: 536px;
        border-radius: 12px;
        text-align: center;

        h3 {
            color: #DB0000;
            margin-bottom: 10px;
        }

        p {
            color: $header-color;
            margin-bottom: 30px;
        }
    }
}