.news-box-items {
    margin-top: 30px;

    .news-image {
        img {
            @include imgw;
            border-radius: 4px;
        }
    }

    .news-content {
        margin-top: 25px;

        h3 {
            margin-bottom: 10px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        .link-btn-area {
            @include flex;
            justify-content: space-between;
            margin-top: 20px;

            .link {
                display: inline-block;
                font-size: 20px;
                font-weight: 400;
                color: $header-color;

                &:hover {
                    color: $theme-color;
                }
            }

            .arrow-icon {
                color: $header-color;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    &.style-2 {
        .news-content {
            margin-top: 0;
            margin-bottom: 25px;
        }
    }
}

.news-card-items {
    margin-top: 30px;
    background-color: $white;
    border-radius: 7px;
    @include flex;
    justify-content: space-between;

    @include breakpoint (max-xxxl){
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px;
    }

    .content {
        max-width: 410px;
        padding-left: 24px;

        @include breakpoint (max-xxxl){
            padding-left: 0;
        }

        h4 {
            font-size: 24px;
            font-weight: 500;
            color: $theme-color;

            span {
                font-size: 14px;
                color: $text-color;
                font-weight: 300;
                font-family: $body-font;
            }
        }

        h3 {
            margin-bottom: 10px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        .theme-btn {
            padding: 17.5px 36px;
            min-width: 150px;
            background: rgba(67, 118, 251, 0.10);
            color: $header-color;
            margin-top: 30px;

            &::before {
                background-color: $theme-color;
            }

            &:hover {
                color: $white;
            }
        }
    }

    .thumb {
        padding: 12px;

        @include breakpoint (max-xxxl){
            padding: 0;
        }

        img {
            border-radius: 4px;

            @include breakpoint (max-xxxl){
               @include imgw;
            }
        }
    }
}

.news-details-wrapper {
    .news-details-items {
        .details-thumb {
            img {
                @include imgw;
                border-radius: 12px;
            }
        }

        .details-content {
            margin-top: 30px;

            h2 {
                font-size: 48px;
                margin-bottom: 20px;
            }

            .details-image-2 {
                margin-top: 30px;
                margin-bottom: 30px;

                .details-img {
                    height: 308px;

                    img {
                        @include imgw;
                        border-radius: 12px;
                    }
                }
            }

            h3 {
                font-size: 40px;
            }

            .box-text {
                padding: 32px;
                text-align: center;
                background-color: #F4F6FA;
                margin-top: 40px;
                margin-bottom: 40px;
                font-size: 24px;
                font-weight: 400;
                color: $header-color;
                line-height: 150%;
            }

            h4 {
                font-size: 32px;
            }

            .details-img-3 {
                padding: 20px 0;

                img {
                    @include imgw;
                    border-radius: 12px;
                }
            }
        }

        .tag-share-wrap {
            border-top: 1px solid #F4F6FA;
            border-bottom: 1px solid  #F4F6FA;
            padding: 30px 0;

            .tagcloud {
                span {
                    display: inline-block;
                    font-weight: 500;
                    color: $header-color;
                    margin-right: 15px;
                }
                a {
                    display: inline-block;
                    padding: 12px 26px;
                    line-height: 1;
                    background: #F4F6FA;
                    margin-right: 8px;
                    text-transform: capitalize;
                    font-weight: 500;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    border-radius: 0;
                    color: $text-color;

                    @include breakpoint (max-sm){
                        margin-bottom: 5px;
                    }

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }

            .social-share {
                span {
                    font-size: 16px;
                    color: $header-color;
                    font-weight: 500;
                }

                a {
                    font-size: 16px;
                    color: $text-color;

                    &:not(:last-child){
                        margin-right: 10px;
                    }

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }

    .comments-area {
        margin-top: 40px;

        .comments-heading {
            margin-bottom: 30px;

            @include breakpoint (max-sm){
               margin-bottom: 20px;
            }

            h3 {
                font-size: 24px;
                font-weight: 700;
                color: $header-color;

                @include breakpoint (max-sm){
                    font-size: 22px;
                }
            }
        }

        .blog-single-comment {
            border-bottom: 1px solid $border-color;

            @include breakpoint (max-sm){
                flex-wrap: wrap;
                gap: 20px;
            }

            .content {
                .head {
                    .con {
                        h5 {
                            margin-bottom: 10px;
                            font-weight: 600;
                            font-size: 20px;

                            a {
                                color: $white;
                            }
                        }
                    }
                    .star {
                        i {
                            color: #FFBF25;
                            font-size: 14px;
                        }
                    }
                }

                .reply {
                    border-radius: 30px;
                    padding: 5px 15px;
                    font-weight: 400;
                    background-color: $bg-color;
                    color: $theme-color;
                }
            }
        }
        
    }

    .comment-form-wrap {
        h3 {
            font-size: 32px;
            margin-bottom: 30px;

            @include breakpoint (max-sm){
                font-size: 28px;
                margin-bottom: 20px;
            }
        }

        .form-clt {
            span {
                color: $text-color;
                display: inline-block;
                margin-bottom: 10px;
            }

            input,textarea {
                width: 100%;
                outline: none;
                border: none;
                background-color: #F4F6FA;
                padding: 16px 20px;
                font-weight: 300;
                border-radius: 8px;
                color: $text-color;

                &::placeholder {
                    color: $text-color;
                }

            }

            textarea {
                padding-bottom: 100px;
            }
        }

        .theme-btn {
            width: 100%;
            border-radius: 12px;
        }
    }
}