.project-box-image {
    position: relative;
    overflow: hidden;
    border-radius: 12px;

    img {
        @include imgw;
        border-radius: 12px;
        @include transition;
    }

    .project-content {
        position: absolute;
        bottom: -120px;
        left: 32px;
        opacity: 0;
        visibility: hidden;
        @include transition;

        h3 {
            font-size: 32px;
            margin-bottom: 5px;

            a {
                color: $white;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        p {
            color: $white;
            margin-bottom: 15px;
        }

        .link-btn {
            display: inline-block;
            font-size: 18px;
            color: $white;
            font-weight: 400;

            i {
                margin-left: 8px;
            }
        }
    }

    &::before {
        @include before;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 41.67%, rgba(0, 0, 0, 0.40) 72.96%, rgba(0, 0, 0, 0.80) 100%);
        border-radius: 12px;
        opacity: 0;
        visibility: hidden;
        @include transition;
    }

    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }

        img {
            transform: scale(1.1);
        }

        .project-content {
            bottom: 32px;
            opacity: 1;
            visibility: visible;
        }
    }
}

.project-details-wrapper {
    .project-title {
        @include flex;
        justify-content: space-between;
        margin-bottom: 50px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            margin-bottom: 30px;
            gap: 20px;
        }

        p {
            max-width: 318px;
        }
    }

    .details-image {

        img {
            @include imgw;
            border-radius: 12px;
        }
    }

    .details-content {
        margin-top: 30px;

        .details-image-2 {
            margin-top: 40px;
            margin-bottom: 40px;

            img {
                @include imgw;
                border-radius: 12px;
            }
        }

        h3 {
            font-size: 32px;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 24px;
        }

        .list-area {
            margin-top: 30px;
            @include flex;
            justify-content: space-between;
            margin-bottom: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            ul {
                li {
                    font-size: 18px;
                    color: $header-color;
                    font-weight: 400;

                    &:not(:last-child){
                        margin-bottom: 15px;
                    }

                    i {
                        margin-right: 5px;
                        color: #DB0000;
                    }
                }
            }
        }

        h5 {
            font-size: 20px;
        }
    }
}

.project-card-image {
    position: relative;
    overflow: hidden;

    img {
        @include imgw;
        border-radius: 12px;
    }

    .content {
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: -100px;
        @include transition;
        opacity: 0;
        visibility: hidden;

        h3 {
            font-size: 32px;
            font-weight: 700px;
            margin-bottom: 5px;

            a {
                color: $white;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        p {
            color: $white;
        }

        .theme-btn {
            border-radius: 12px;
            font-weight: 300;
            padding: 17px 40px;
            width: 100%;
            margin-top: 20px;

            &::before {
                background-color: $white;
            }

            &:hover {
                color: $header-color;
            }
        }
    }

    &::before {
        @include before;
        border-radius: 12px;
        opacity: 0;
        visibility: hidden;
        @include transition;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 30.56%, rgba(0, 0, 0, 0.30) 59.44%, rgba(0, 0, 0, 0.60) 100%);
    }

    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }

        .content {
            opacity: 1;
            visibility: visible;
            bottom: 24px;
        }
    }
}