.team-box-items {
    margin-top: 30px;
    padding: 12px;
    border: 1px solid #F4F6FA;
    border-radius: 12px;
    @include flex;
    gap: 24px;

    @include breakpoint (max-xxl){
        flex-wrap: wrap;
    }
    
    .team-image {
        max-width: 185px;

        img {
            @include imgw;
            border-radius: 12px;
        }
    }

    .team-content {
        max-width: 405px;

        .team-info {
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(213, 213, 213, .5);
            margin-bottom: 15px;

            span {
                font-size: 16px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 300;
            padding-right: 20px;
        }

        .social-icon {
            gap: 15px;
            margin-top: 20px;

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: $theme-color;
                background-color: #F4F6FA;
                border-radius: 50%;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}