
:root {
    
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #4376FB;
    --theme2: #FFBF25;
    --header: #000000;
    --text: #555555;
    --border: #D5D5D5;
    --bg: #F4F6FA;
    --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme2);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$bg-color: var(--bg);
$shadow: var(--box-shadow);